## Variables and Expressions


### Programming for Data Science
### Last Updated: Jan 15, 2023
---  

### PREREQUISITES
- Running Python session (suppressed in later notes)

### SOURCES 
- variables, expressions, statements, types  
https://thomas-cokelaer.info/tutorials/python/variables.html






### OBJECTIVES
- Introduce variables and expressions
- Demonstrate essential tasks with variables, expressions
 


### CONCEPTS

- variable
- assignment
- deletion


---

### Variables

Variable names can be any length.  
They must start with letter or underscore, followed by letters, numbers or underscores.

In [33]:
# invalid name

1_model = 2
#do not use number as a variable name strat

In [38]:
#valis name

_model = 1

Assign variables a value with `=`   
Multiple assignments can be done at once:

In [3]:
x = 1
y = 2
z = 5

print (x)
print (y)
print (z)

1
2
5

In [ ]:
x = y = z = 5

print('x =', x)
print('y =', y)
print('z =', z)

In [ ]:
a,b = 3, 4

print('a =', a)
print('b =', b)

Refrain from using a [reserved keyword](https://thomas-cokelaer.info/tutorials/python/variables.html) when giving names  

This example tries to assign `return` a value of 3. Since return is a reserved keyword, it fails.

In [ ]:
return = 3

variables can be deleted with `del`

In [ ]:
model = 'gbt'
print('model:', model)

del model
print('model:', model)

`type()` will return a variable's data type. More on data types later.

In [ ]:
type('ERROR')

In [ ]:
type(0.55)

In [5]:
type({'cat':'persian','bird':'parrot'})

dict

---

### TRY FOR YOURSELF (UNGRADED EXERCISES)

1) Given `x = 5`, 

How are these two expressions different?

- x = 5
- x == 5

Explain in the cell below

In [15]:
x = 5 #assignment operator
x == 5 # comparison operator

True

2) What happens if you call `type()` on each expression from (1)? Try in the cells below.

In [40]:
# the first one breaks

type(x=5)

TypeError: type() takes 1 or 3 arguments

In [42]:
type(x)

int

In [44]:
# the second expression returns bool

type(x==5)

bool

3) For each potential variable name, indicate if they are valid or invalid names:

- aws #yes
- aws-instance #noï¼š "-" exsist
- _aws_instance # yes
- -aws-instance #no
- 3rd_aws_instance #no
- and #no, key words

---